main {
	min-height: 80vh;
}
.navbar {
	padding: 2px;
	background-color: #2a348a !important;
}
/* dark blue from right:ratio color palette */
.rr-cobalt {
	color: #2a348a;
}
.rr-black {
	color: #1d2029;
}
.rr-small {
	font-size: 0.8em;
}
.navtitle {
	font-size: 1.8rem;
	color: #fff;
}
.logo {
	height: 90px;
	padding-right: 1.2rem;
	margin: 0;
}
.rr-email {
	height: 2em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.rr-email:hover {
	white-space: normal;
	overflow: visible;
	background-color: #fff; /* Optional: to make the expanded text more readable */
	z-index: 1000; /* Ensures the text appears above other elements */
}

/* for the pet photos */
.pet-photo {
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: center;
}

.rating span {
	margin: 0.1rem;
}

.rating svg {
	color: #f8e825;
}

.rating-text {
	font-size: 0.8rem;
	font-weight: 600;
	padding-left: 0.5rem;
}

.product-title {
	height: 2.5em; /* Set a fixed height */
	overflow: hidden; /* Hide overflow content */
	text-overflow: ellipsis; /* Add ellipsis for long text */
	white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
	text-align: center;
}

.review {
	margin-top: 30px;
}

.review h2 {
	font-size: 24px;
	background: #f4f4f4;
	padding: 10px;
	border: 1px solid #ddd;
}

.review button {
	margin-top: 10px;
}

.carousel-caption {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
}

bg-dark {
	background-color: #2a348a !important;
}
